<a href="https://colab.research.google.com/github/yuliatun/Python-EXCERCISE/blob/master/Scraping_Data_From_a_Real_Website%26Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Scraping Data From a Real Website + Pandas

In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import requests

url = 'https://en.wikipedia.org/wiki/List_of_largest_companies_by_revenue'
headers = {"User-Agent": "Mozilla/5.0"}
page = requests.get(url, headers=headers)
soup = BeautifulSoup(page.text, 'html.parser')

table = soup.find('table', {"class": "wikitable"})

# Ambil header
header_row = table.find('tr')
headers = [th.text.strip() for th in header_row.find_all(['th','td'])]

# Buat DataFrame kosong dengan header
df = pd.DataFrame(columns=headers)

# Loop baris
rows = table.find_all('tr')[2:]  # skip header
for row in rows:
    cells = row.find_all(['td','th'])
    row_data = [cell.text.strip() for cell in cells]

    # Jika jumlah sel tidak sama dengan jumlah kolom, tambahkan None untuk menyesuaikan
    while len(row_data) < len(df.columns):
        row_data.append(None)
    df.loc[len(df)] = row_data

df

,Ranks,Name,Industry,Revenue,Profit,Employees,Headquarters[note 1],State-owned,Ref.
0,1,Walmart,Retail,"$680,985","$19,436","2,100,000",United States,,[1]
1,2,Amazon,Retail information technology,"$637,959","$59,248","1,556,000",,[4],None
2,3,State Grid Corporation of China,Electricity,"$545,948","$9,204","1,361,423",China,,[5]
3,4,Saudi Aramco,Oil and gas,"$480,446","$106,246","73,311",Saudi Arabia,,[6]
4,5,China Petrochemical Corporation,"$429,700","$9,393","513,434",China,,[7],None
5,6,China National Petroleum Corporation,"$476,000","$25,250","1,026,301",,[8],None,None
6,7,UnitedHealth Group,Healthcare,"$400,278","$14,405","400,000",United States,,[9]
7,8,Apple,Information technology,"$391,035","$93,736","164,000",,[10],None
8,9,Berkshire Hathaway,Financials,"$371,433","$88,995","392,400",,[11],None
9,10,CVS Health,Healthcare,"$357,776","$8,344","259,500",,[12],None
10,11,Alphabet,Information technology,"$350,018","$100,118","183,323",,[13],None
11,12,Volkswagen Group,Automotive,"$348,408","$17,945","684,025",Germany,,[14]
12,13,ExxonMobil,Oil and gas,"$344,582","$36,010","61,500",United States,,[15]
13,14,Vitol,Commodities,"$331,000","$13,000","1,560",Switzerland,,[16][17]
14,15,Shell,Oil and gas,"$323,183","$19,359","103,000",United Kingdom,,[18]
15,16,China State Construction Engineering,Construction,"$320,431","$4,272","382,894",China,,[19]
16,17,Toyota,Automotive,"$312,018","$34,214","380,793",Japan,,[20]
17,18,McKesson,Healthcare,"$308,951","$3,002","48,000",United States,,[21]
18,19,Microsoft,Information technology,"$281,700","$101,800","228,000",,[22],None
19,20,Cencora,Healthcare,"$262,173","$1,745","44,000",,[23],None
20,21,Trafigura,Commodities,"$244,280","$7,393","12,479",Singapore,,[24]
21,22,Costco,Retail,"$242,290","$6,292","316,000",United States,,[25]
22,23,JPMorgan Chase,Financials,"$239,425","$49,552","309,926",,[26],None
23,24,Industrial and Commercial Bank of China,"$222,484","$51,417","419,252",China,,[27],None
24,25,TotalEnergies,Oil and gas,"$218,945","$21,384","102,579",France,,[28]
25,26,Glencore,Commodities,"$217,829","$4,280","83,426",Switzerland,,[29]
26,27,BP,Oil and gas,"$213,032","$15,239","79,400",United Kingdom,,[30]
27,28,Cardinal Health,Healthcare,"$205,012",$261,"47,520",United States,,[31]
28,29,Stellantis,Automotive,"$204,908","$20,103","258,275",Netherlands,,[32]
29,30,Chevron,Oil and gas,"$200,949","$21,369","45,600",United States,,[33]
30,31,China Construction Bank,Financials,"$199,826","$46,990","376,871",China,,[34]
31,32,Samsung Electronics,Electronics,"$198,257","$11,082","267,860",South Korea,,[35]
32,33,Foxconn,"$197,876","$4,563","621,393",Taiwan,,[36],None
33,34,Cigna,Healthcare,"$195,265","$5,164","71,413",United States,,[37]
34,35,Agricultural Bank of China,Financials,"$192,398","$38,049","451,003",China,,[38]
35,36,Schwarz Gruppe,Retail,"$180,576","$16,988","595,000",Germany,,[39]
36,37,China Railway Engineering Corporation,Construction,"$178,563","$2,152","314,149",China,,[40]
37,38,Cargill,Conglomerate,"$177,000","$17,641","160,000",United States,,[41]
38,39,Ford Motor Company,Automotive,"$176,191","$4,347","177,000",,[42],None
39,40,Bank of China,Financials,"$172,328","$32,758","306,931",China,,[43]
40,41,Bank of America,"$171,912","$26,515","212,985",United States,,[44],None
41,42,General Motors,Automotive,"$171,842","$10,127","163,000",,[45],None
42,43,Elevance Health,Healthcare,"$171,340","$5,987","104,900",,[46],None
43,44,BMW Group,Automotive,"$168,103","$12,205","154,950",Germany,,[47]
44,45,Mercedes-Benz Group,Automotive,"$165,638","$15,417","166,056",Germany,,[48]
45,46,Meta Platforms,Social media,"$164,500","$62,360","78,450",United States,,[49]
46,47,China Railway Construction Corporation,Construction,"$160,847","$1,701","336,433",China,,[50]
47,48,Baowu,Steel,"$157,216","$2,494","258,697",,[51],None
48,49,Citigroup,Financials,"$156,820","$9,228","237,925",United States,,[52]
49,50,Enel,Energy,"$147,100","$3,400","61,060",Italy,,[53]